*{
    font-family: tahoma;
}

.header{
    display: flex;
    background-color: #383838;
    padding: 10px;
}

.header-logo{
    margin-top: auto;
    margin-bottom: auto;
}

.header-logo img{
    background-color: #383838;
    height: 60px;
}

.header-title{
    background-color: #383838;
    margin-top: auto;
    margin-bottom: auto;
    padding: 15px;
}

.header-title a{
    background-color: #383838;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

/* Nav Bar */

.nav{
    background-color: #2c2c2c;
    padding: 10px;
    margin-top: 0px;
}

.nav-item{
    display: inline-block;
    margin-left: 20px;
    height: 20px;
}

.nav-item a{
    background-color: #2c2c2c;
    color: #ffffff;
    text-decoration: none;
}

.nav-item a:hover{
    color: #080491;
}

.judul{
    display: flex;
    background-color: coral;
    padding: 5px;
    margin-top: 10px;
    justify-content: center;
    font-size: 20px;
    color: aliceblue;
}

/* konten */

.konten{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.konten-credit{
    font-size: 14px;
    font-weight: normal;
}

.penulis{
    color: crimson;
}

.tanggal{
    color: olive;
}

span{
    color: blue;
}

/* Halaman Utama */

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.box-preview{
    width: 300px;
    margin: 20px;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 14px;
}

.box-preview-judul{
    font-size: 1.2em;
    height: 60px;
    font-weight: bold;
}

.box-preview-credit{
    font-style: italic;
}

.box-preview:hover{
    background-color: #efefef;
}
.box-preview .more{
    color: rgb(113, 4, 167);
    text-decoration: none;
}

.box-preview .more:hover{
    color: #0cce1c;;
}